---
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';
import favicon from '/favicon.ico';
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Dapur Koemau - Nikmati cita rasa autentik makanan tradisional dengan bahan berkualitas tinggi">
  <!-- <link rel="icon" type="image/x-icon" href={favicon}> -->
  <!-- Font Awesome CDN -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
  <title>Koemau - Frozen Food Terbaik</title>
</head>
<body>
    <Navbar />
    <main class="pt-16">
      <slot /> 
    </main>
    <Footer />
  </body>
</html>

