---
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';
import favicon from '/favicon.ico';
import 'aos/dist/aos.css';
import { ShieldCheck } from '@lucide/astro'; 
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Dapur Koemau - Nikmati cita rasa autentik makanan tradisional dengan bahan berkualitas tinggi">
  <link rel="icon" type="image/x-icon" href={favicon}>
  <!-- Font Awesome CDN -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
  <title>Koemau - Frozen Food Terbaik</title>
</head>
<body>
    <Navbar />
    <main class="pt-16">
      <slot /> 
    </main>
    <Footer />
    <script>
      import AOS from 'aos';
      /* // Fungsi untuk inisialisasi
      const initAOS = () => {
        AOS.init({
          duration: 800, // Durasi animasi
          once: false,   // Animasi berulang saat di-scroll
        });
      };

      // Jalankan saat pertama kali load
      initAOS();

      // Jika nanti Anda memakai ViewTransitions, tambahkan ini:
      // document.addEventListener('astro:after-swap', initAOS); */

      AOS.init({
        duration: 1200, // Durasi animasi
        once: false,   // Animasi berulang saat di-scroll
      });
      
    </script>
  </body>
</html>

